.room-listitem{
    width: 100%;

    .card {
        margin: 20px
    }

    .media {
        height: 140px,
    }
}

@media (min-width: 768px) {
    .room-listitem{        
        width: 50%;
    
    }
}